/.project
# Compiled class file
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*


##############################
## Maven
##############################
target/

##############################
## Intellij
##############################
*.iml
.idea/*