.badge-container{
    margin-right: 5px;
}

.badge-action{
    color: #000000!important;
    background-color: #F8F9F9 !important;
    font-weight: 350!important;
    border: 1px solid #CCD1D1;
    /*margin-bottom: 5px;*/
    font-size: 14px!important;
}

.badge-action-green{
    color: #27AE60 !important;
}

.badge-action-red{
    color: #E74C3C!important;
}

.badge-action-blue{
    color: #3498DB!important;
}

.badge-action-hover:hover{
    cursor: pointer;
    background-color: white!important;
    color:gray!important;
}
