/* Layout */
html {
    display: flex;
    flex-direction: column;
} /* IE fix */

body {
    display: flex; /* crée un contexte flex pour ses enfants */
    flex-direction: column; /* affichage vertical */
    min-height: 100vh;  /*toute la hauteur du viewport (compatible IE9+) */
    margin: 0;
    background: #fff;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 14px!important;
    height: 100%;
    width: 100%;
}

section {
    background: white;
    color: gray;
}

.wrapper {
    display: block; /* IE fix */
    flex: 1 1 auto; /* occupe la hauteur restante */
    display: flex; /* crée un contexte flex pour ses enfants */
    flex-direction: row; /* affichage horizontal */
}

#root{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.common-font{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    line-height: 2;
    color: #515a5a;
}

.circle-button{
    background-color: #e30026!important;
    border-color: #e30026!important;
    color: white!important;
}

.circle-white-button {
    background-color: #E5E7E9 !important;
    color: #424949 !important;
    border-color: #B3B6B7 !important;
}

.date-picker{
    border: 1px solid #ced4da!important;
    border-radius: .25rem!important;
    line-height: 1.5;
    color: #495057;
    padding-left: 12px!important;
}

.no-border-input{
    border-top: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-radius: 0px!important;
}

.hr-custom{
    margin-top: 10px!important;
    border-top: 2px solid #E5E7E9;
}

.title{
    color: #F1948A;
}


.space-10{
    height: 10px;
}

.space-20{
    height: 20px;
}

.icon-custom{
    color: #e30026!important;
}

.label-custom{
    color: #e30026!important;
    font-weight: bold;
}
.shadow{
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.1);
}

.spinner-container{
    margin-left: 10px;
}

.spinner{
    display: block;
    margin: 0 auto;
    border-color: #e30026;
}

.tab-custom{
    width: 100%;
}

.selected-line{
    color: #e30026;
}

.selected-line{
    color: #007bff!important;
}

a{
    color: #000000!important;
    text-decoration: none!important;
    background-color: transparent!important;
}

/* ***********************scrollbar*********************** */
#style-srollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-srollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-srollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

/* ***********************footer*********************** */
footer {
    background: #F8F9F9;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #7F8C8D;
}

/* ***********************Responsive*********************** */

@media (max-width: 640px) {
    body {
        min-height: 0;
    }
    .wrapper {
        flex-direction: column;
    }
    .content {
        flex-basis: auto;
    }
    nav {
        width: auto;
        order: 1;
    }
}




















