.tab-bar {
    width: 100%;
    overflow: hidden;
    display: flex;
}


.tab-content-container{
    width: 100%;
    padding: 10px;
    word-break: break-all;
}

.w3-third {
    /*float: left;*/
    /*width: 100%;*/
    flex-grow: 1;
}

/*@media (min-width: 601px) {*/

/*    .w3-third {*/
/*        !*width: 20%;*!*/
/*        flex-grow: 1;*/
/*    }*/

/*}*/

.w3-row-padding, .w3-row-padding > .w3-half, .w3-row-padding > .w3-third, .w3-row-padding > .w3-twothird, .w3-row-padding > .w3-threequarter, .w3-row-padding > .w3-quarter, .w3-row-padding > .w3-col {
    padding: 0 8px
}

.w3-bottombar {
    border-bottom: 6px solid #ccc !important
}

.w3-hover-light-grey:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.w3-padding{padding:8px 16px!important}

.w3-border-red,.w3-hover-border-red:hover{border-color:#e30026!important}