.content-header-container {
    width: 100%;
    height: 50px;
    /*margin-bottom: 1em;*/
}

.content-container{
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: #ffffff;
}

