/* Layout */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    display: flex;
    flex-direction: column;
}

/* IE fix */

body {
    display: flex; /* crée un contexte flex pour ses enfants */
    flex-direction: column; /* affichage vertical */
    min-height: 100vh; /*toute la hauteur du viewport (compatible IE9+) */
    margin: 0;
    background: #fff;
    /* font-family: Source Sans Pro, sans-serif; */
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 15px !important;
    height: 100%;
    width: 100%;
}

section {
    background: white;
    color: gray;
}

#root {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    position: fixed;
}

.common-font {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600;
    line-height: 2;
    color: #515a5a;
}

.title {
    color: #f1948a;
}

.selected-line {
    color: black !important;
    font-weight: bold;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

.dot,.dot-stat,
.dot-stat-green,
.dot-stat-red,
.dot-stat-gray{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    display: flex;
}

.dot-stat,.dot-stat-green,
.dot-stat-red,
.dot-stat-gray{
    height: 40px;
    width: 40px;
}

.dot-stat-green {
    background-color: #c8f4d5;
    margin-right: 5px;
}

.dot-stat-red{
    background-color: rgb(247, 206, 203);
    margin-right: 5px;
}

.dot-stat-gray{
    background-color: #e6e6e6;
}


.container-info{
    margin-bottom: 30px;
}

h6{
    margin-bottom: 30px!important;
}

/* ***********************footer*********************** */
footer {
    background: #f8f9f9;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #7f8c8d;
}

/* ***********************Responsive*********************** */
@media (max-width: 640px) {
    body {
        min-height: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    .content {
        flex-basis: auto;
    }

    nav {
        width: auto;
        order: 1;
    }
}

.icon-green{
    color:green;
}

.icon-red{
    color:red;
}

.icon-gray{
    color:gray;
}

.icon-around{
    margin-left: 5px;
    margin-right: 5px;
}