.site-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100px;
    padding: 0 32px;
    background-color: #000;
}

.site-header .fa-registered {
    color: #f32222;
}

.site-header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.site-header-item {
    padding: 5px 15px;
    color: #515a5a;
    font-size: 25px;
    color: white;
}

.site-header-item + .site-header-item {
    margin-left: 0px;
}

.site-header-icon {
    font-size: 30px;
    color: #515a5a;
}

.site-header-icon-application {
    color: #000072;
}

.sub-site-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.information-sub-header, .chart-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 0px;
    background-color: white;
    flex-grow: 1;
    margin: 5px;
}

.stat-header{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
