#table-common {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-common td, #table-common th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-common td.name {
    width: 30%;
}

#table-common td.value {
    width: 70%;
}

#table-common tr:nth-child(even){background-color: #f2f2f2;}

#table-common tr:hover {background-color: #ddd;}

#table-common th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eaeaea;
    color: black;
}