.tree-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*background-color: #000;*/
    padding: 1em;
    /*margin-bottom: 1em;*/
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #e7e9eb
}

.tree-header-container h1 {
    font-size: 1.3em;
    color: black;
    margin-bottom: 0;
}

.tree-title-container, .tree-action-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}
.tree-action-container {
    justify-content: flex-end;
}

.tree-one-action-container {
    margin-right: 8px;
}

.icon-action-tree{
    color: black;
    cursor: pointer;
}

.tree-container{
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: #ffffff;
}


ul.tree{
    padding-left: 0px;
    padding-top: 5px;
}

.tree {
    --spacing: 1.5rem;
    --radius: 10px;
    --marker-bg-default: #eaeaea;
    --marker-bg-haschild: #eaeaea;
    line-height: 2rem;
}
.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}
.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}
.tree a{
    cursor: pointer;
}

.tree ul li {
    border-left: 2px solid #ddd;
}
.tree ul li:last-child {
    border-color: transparent;
}

.tree ul li::before{
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #eaeaea;
    border-width: 0 0 2px 2px;
}

.tree summary {
    display: block;
    cursor: pointer;
    color: black;
}
.tree summary::marker,
.tree summary::-webkit-details-marker {
    display: none;
}
.tree summary:focus {
    outline: none;
}
.tree summary:focus-visible {
    outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 2 - var(--radius) + 2px);
    left: calc(var(--spacing) - var(--radius) - 2px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: var(--marker-bg-default);
}

.tree summary::before {
    content: '+';
    z-index: 1;
    background: var(--marker-bg-haschild);
    color: black;
    line-height: calc(2 * var(--radius));
    text-align: center;
}
.tree details[open] > summary::before {
    content: '−';
}
